@model DigitalTwinsBackend.ViewModels.DeviceViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

<h4>Device</h4>
<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SelectedDeviceItem.Name" class="control-label"></label>
                <input asp-for="SelectedDeviceItem.Name" class="form-control" />
                <span asp-validation-for="SelectedDeviceItem.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SelectedDeviceItem.HardwareId" class="control-label"></label>
                <input asp-for="SelectedDeviceItem.HardwareId" class="form-control" />
                <span asp-validation-for="SelectedDeviceItem.HardwareId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Space</label>
                <select asp-for="SelectedDeviceItem.SpaceId" class="form-control" asp-items="@(new SelectList(Model.SpaceList,"Id","Name"))"></select>
                <span asp-validation-for="SelectedDeviceItem.SpaceId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="form-group">
                    <input type="submit" name="updateButton" value="Create" class="ButtonNew" />
                    <input type="submit" name="updateButton" value="Cancel" class="ButtonCancel"  />
                </div>
            </div>
        </form>
    </div>
</div>

