################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DigitalTwinsBackend/obj
/DigitalTwinsBackend/bin/Debug/netcoreapp2.1
/DigitalTwinsBackend/.accesstoken
/DigitalTwinsBackend/backend.config
/DigitalTwinsBackend/bin/Release/netcoreapp2.1
/DigitalTwinsBackend/Properties/PublishProfiles
/DigitalTwinsBackend/wwwroot/blobs
