@model DigitalTwinsBackend.ViewModels.SensorViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

<h4>Sensor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="SelectedSensor.DeviceId" type="hidden" />
            <div class="form-group">
                <label asp-for="SelectedSensor.DataType" class="control-label"></label>
                <select asp-for="SelectedSensor.DataType" class="form-control" asp-items="@(new SelectList(Model.DataTypeList,"Name","Name"))"></select>
                <span asp-validation-for="SelectedSensor.DataType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SelectedSensor.HardwareId" class="control-label"></label>
                <input asp-for="SelectedSensor.HardwareId" class="form-control" />
                <span asp-validation-for="SelectedSensor.HardwareId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SelectedSensor.DeviceId" class="control-label"></label>
                <input asp-for="SelectedSensor.DeviceId" class="form-control" disabled="disabled" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

