@model DigitalTwinsBackend.ViewModels.SensorViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<h4>Sensor</h4>
<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="Edit">
            <div>
                <h3>Core Properties</h3>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input asp-for="SelectedSensor.Id" type="hidden" />
                <input asp-for="SelectedSensor.SpaceId" type="hidden" />
                <input asp-for="SelectedSensor.DeviceId" type="hidden" />
                <div class="form-group">
                    <label asp-for="SelectedSensor.Id" class="control-label"></label>
                    <input asp-for="SelectedSensor.Id" class="form-control" disabled="disabled" />
                </div>
                <div class="form-group">
                    <label asp-for="SelectedSensor.SpaceId" class="control-label"></label>
                    <select asp-for="SelectedSensor.SpaceId" class="form-control" asp-items="@(new SelectList(Model.SpaceList, "Id", "Name"))" disabled="disabled"></select>
                </div>
                <div class="form-group">
                    <label asp-for="SelectedSensor.DeviceId" class="control-label"></label>
                    <input asp-for="SelectedSensor.DeviceId" class="form-control" disabled="disabled" />
                </div>
                <div class="form-group">
                    <label asp-for="SelectedSensor.DataType" class="control-label"></label>
                    <select asp-for="SelectedSensor.DataType" class="form-control" asp-items="@(new SelectList(Model.DataTypeList,"Name","Name"))"></select>
                    <span asp-validation-for="SelectedSensor.DataType" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelectedSensor.DataSubtype" class="control-label"></label>
                    <select asp-for="SelectedSensor.DataSubtype" class="form-control" asp-items="@(new SelectList(Model.DataSubTypeList,"Name","Name"))"></select>
                    <span asp-validation-for="SelectedSensor.DataSubtype" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelectedSensor.HardwareId" class="control-label"></label>
                    <input asp-for="SelectedSensor.HardwareId" class="form-control" />
                    <span asp-validation-for="SelectedSensor.HardwareId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelectedSensor.DataUnitType" class="control-label"></label>
                    <select asp-for="SelectedSensor.DataUnitType" class="form-control" asp-items="@(new SelectList(Model.DataUnitTypeList,"Name","Name"))"></select>
                    <span asp-validation-for="SelectedSensor.DataUnitType" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelectedSensor.PollRate" class="control-label"></label>
                    <input asp-for="SelectedSensor.PollRate" class="form-control" />
                    <span asp-validation-for="SelectedSensor.PollRate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelectedSensor.PortTypeId" class="control-label"></label>
                    <input asp-for="SelectedSensor.PortTypeId" class="form-control" />
                    <span asp-validation-for="SelectedSensor.PortTypeId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="ButtonEdit" />
                    <input type="submit" onclick="history.go(-1)" class="ButtonCancel" value="Cancel" />
                </div>
            </div>
        </form>
    </div>
</div>

