@model DigitalTwinsBackend.ViewModels.SpaceViewModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Space</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SelectedSpaceItem.Name" class="control-label"></label>
                <input asp-for="SelectedSpaceItem.Name" class="form-control" />
                <span asp-validation-for="SelectedSpaceItem.Name" class="text-danger"></span>
            </div>
            @*<div class="form-group">
            <label asp-for="SelectedSpaceItem.FriendlyName" class="control-label"></label>
            <input asp-for="SelectedSpaceItem.FriendlyName" class="form-control" />
            <span asp-validation-for="SelectedSpaceItem.FriendlyName" class="text-danger"></span>
        </div>*@
            <div class="form-group">
                <label asp-for="SelectedSpaceItem.Type" class="control-label"></label>
                <select asp-for="SelectedSpaceItem.Type" class="form-control" asp-items="@(new SelectList(Model.SpaceTypeList,"Name","Name"))"></select>
                <span asp-validation-for="SelectedSpaceItem.Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SelectedSpaceItem.ParentSpaceId" class="control-label"></label>
                <select asp-for="SelectedSpaceItem.ParentSpaceId" class="form-control" asp-items="@(new SelectList(Model.SpaceList,"Id","Name"))"></select>
                <span asp-validation-for="SelectedSpaceItem.ParentSpaceId" class="text-danger"></span>
            </div>
            @*<div class="form-group">
            <label asp-for="SelectedSpaceItem.TypeId" class="control-label"></label>
            <input asp-for="SelectedSpaceItem.TypeId" class="form-control" />
            <span asp-validation-for="SelectedSpaceItem.TypeId" class="text-danger"></span>
        </div>*@
            <div class="form-group">
                <label asp-for="SelectedSpaceItem.SubType" class="control-label"></label>
                <select asp-for="SelectedSpaceItem.SubType" class="form-control" asp-items="@(new SelectList(Model.SpaceSubTypeList,"Name","Name"))"></select>
                <span asp-validation-for="SelectedSpaceItem.SubType" class="text-danger"></span>
            </div>
            @*<div class="form-group">
            <label asp-for="SelectedSpaceItem.SubtypeId" class="control-label"></label>
            <input asp-for="SelectedSpaceItem.SubtypeId" class="form-control" />
            <span asp-validation-for="SelectedSpaceItem.SubtypeId" class="text-danger"></span>
        </div>*@
            @*<div class="form-group">
            <label asp-for="SelectedSpaceItem.Status" class="control-label"></label>
            <select asp-for="SelectedSpaceItem.Status" class="form-control" asp-items="@(new SelectList(Model.SpaceStatusList,"Name","Name"))"></select>
            <span asp-validation-for="SelectedSpaceItem.Status" class="text-danger"></span>
        </div>*@
            @*<div class="form-group">
            <label asp-for="SelectedSpaceItem.StatusId" class="control-label"></label>
            <input asp-for="SelectedSpaceItem.StatusId" class="form-control" />
            <span asp-validation-for="SelectedSpaceItem.StatusId" class="text-danger"></span>
        </div>*@
            <div class="form-group">
                <input type="submit" name="createButton" value="Save & Next" class="btn btn-default" />
                <input type="submit" name="createButton" value="Save & Continue" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-area="" asp-controller="Spaces" asp-action="List">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
