@model IEnumerable<DigitalTwinsBackend.Models.PropertyKey>

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Select Properties to Add to the Space</h2>

<h4>Property key</h4>
<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="Add" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Add to space
                        </th>
                        <th>
                            Category
                        </th>
                        <th>
                            Name
                        </th>
                        <th>
                            Description
                        </th>
                        <th>
                            Data type
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @Html.EditorForModel()
                </tbody>
            </table>

            <div class="form-group">
                <input type="submit" value="Add" class="ButtonNew" />
                <input type="submit" onclick="history.go(-1)" class="ButtonCancel" value="Cancel" />
            </div>
        </form>
    </div>
</div>

