
@model DigitalTwinsBackend.ViewModels.SimulatorViewModel

@{
    ViewData["Title"] = "Device Simulator";
}

<h2>Device simulator</h2>

<h4>Send data</h4>
<hr />

<div class="row">
    <div class="col-md-12">
        <form asp-action="SimulatorAction">
            <div class="form-group">
                <h4>Selected Device</h4>
                <select asp-for="SelectedDevice" class="form-control" asp-items="@(new SelectList(Model.DeviceList,"Id","Name"))"></select>
            </div>
        
            <div class="form-group">
                <h4>Simulated sensors</h4>
                <a asp-action="AddSensor" class="ButtonNew">Add a new simulated Sensor</a>
            </div>
        
            <div class="form-group">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Hardware Id
                            </th>
                            <th>
                                Data Type
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.SimulatedSensorList)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.HardwareId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DataType)
                                </td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.HardwareId" class="ButtonEdit">Edit or Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            <div class="form-group">
                <input type="submit" name="Action" value="Launch" class="ButtonDetails" />
                <input type="submit" name="Action" value="Cancel" class="ButtonDelete" />
            </div>
        </form>
    </div>
</div>
