@{
    ViewData["Title"] = "Spaces";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>

<li><a asp-area="" asp-controller="Spaces" asp-action="List">Get all spaces</a></li>

<li><a asp-area="" asp-controller="Spaces" asp-action="Create">Create a new space</a></li>
