/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
/*body {
    padding-top: 50px;
    padding-bottom: 20px;
}*/

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    /*padding-left: 15px;
    padding-right: 15px;*/
    margin: 15px auto 15px auto ;
    display: block;
    position: relative;
}

#page div {
    width: 100%;
    height: 100%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    background: white;
    z-index: 1;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    color: black;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

img.resize {
    padding-bottom: 15px;
    max-width:315px;
}

.panel-heading .colapsible-panel:after {
    font-family: 'Glyphicons Halflings';
    content: "\e114";
    float: right;
    color: #408080;
}

.panel-heading .colapsible-panel.collapsed:after {
    content: "\e080";
}

.errorZone, 
.apicallZone{
    margin: 10px;
    padding: 10px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.25;
    color: #555;
    text-align: left;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.errorZone {
    background-color: lightgray;
}

.apicallZone {
    background-color: antiquewhite;
}

.colEncart1,
.colEncart2,
.colEncart3
{
    position: relative;
    padding: 10px;
    float: inherit;
}

.colEncart1 {
    width: 42.5%;
}

.colEncart2 {
    width: 42.5%;
}

.colEncart3 {
    width: 15%;
}

.detailsEncart {
    margin: 10px 0px 10px 0px;
    padding: 5px 10px 0px 10px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    color: #555;
    text-align: left;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #DFDFDF;
}

.defaultEncart {
    margin: 10px 0px 10px 0px;
    /*padding: 0px 10px 0px 10px;*/
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    color: #555;
    text-align: left;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #DFDFDF;
    float: none;
}

.spaceEncart,
.deviceEncart,
.sensorEncart,
.udfEncart,
.userEncart {
    margin: 10px 0px;
    padding: 0px 20px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    color: #555;
    text-align: left;
    border: 1px solid #ccc;
    border-radius: 20px;
}

.spaceEncart {
    background-color: antiquewhite;
}

.deviceEncart {
    background-color: honeydew;
}

.sensorEncart {
    background-color: lavender;
}

.udfEncart {
    background-color:seashell;
}

.userEncart {
    background-color:thistle;
}

.label-field {
    font-size: 14px;
    font-weight: bold;
    color: #555;
    width: 110px;
}

.label-value {
    font-size: 14px;
    font-weight: normal;
    color: #555;
}

.label-group {
    margin-bottom: 5px;
}
.label-group-top {
    margin-top: 5px;
}

.ButtonNew,
.ButtonDelete,
.ButtonEdit,
.ButtonSpaceDetails,
.ButtonDeviceDetails,
.ButtonSensorDetails,
.ButtonUDFDetails,
.ButtonNavigate,
.ButtonCancel {
    display: inline-block;
    padding: 2px 6px;
    margin-bottom: 4px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    color: white;
}

.ButtonNew {
    background-color: #1270BE;
}
.ButtonEdit {
    background-color: #267F00;
}
.ButtonSpaceDetails {
    background-color: #FF8800;
}
.ButtonDeviceDetails {
    background-color: #19D619;
}
.ButtonSensorDetails {
    background-color: #1B1BF9;
}
.ButtonUDFDetails {
    background-color: #CE5D12;
}
.ButtonDelete {
    background-color: red;
}
.ButtonCancel {
    background-color: grey;
}
    .ButtonNew:hover,
    .ButtonNew:focus,
    .ButtonEdit.hover,
    .ButtonEdit:focus,
    .ButtonDetails:hover,
    .ButtonDetails.focus,
    .ButtonDelete:hover,
    .ButtonDelete:focus {
        color: #333;
        text-decoration: none;
    }

.ButtonNew:hover,
.ButtonNew:focus {
    background-color: #9FD2F8;
}

.ButtonEdit:hover,
.ButtonEdit.focus {
    background-color: #BBE2AE;
}

.ButtonDetails:hover,
.ButtonDetails.focus {
    background-color: #FFCB9B;
}

.ButtonDelete:hover,
.ButtonDelete.focus {
    background-color: #FFB5B2;
}

html, body {
    margin: 0;
    /*font-family: 'Roboto';*/
    background: #f1f1f1;
    overflow: auto;
}

#cont:target > menu-fixed {
    width: 90px;
    background: #111;
    transition: all 0.3s;
}

    #cont:target > menu-fixed > a .material-icons.back {
        display: none;
    }

    #cont:target > menu-fixed > .menu li {
        text-align: center;
        width: 40%;
    }

        #cont:target > menu-fixed > .menu li > p {
            display: none;
        }

#menu-fixed {
    width: 90px;
    z-index: 2;
    height: 100%;
    background: #0F0F0F;
    position: fixed;
    transition: all 0.3s;
    box-shadow: 10px 0px 10px rgba(0, 0, 0, 0.19), 8px 0px 10px rgba(0, 0, 0, 0.23);
    text-align: center;
    overflow: auto;
}

    #menu-fixed .material-icons.back {
        display: none;
        color: white;
        position: absolute;
        left: 10px;
        top: 10px;
        font-size: 36px;
        cursor: pointer;
        transition: color 0.3s;
    }

        #menu-fixed .material-icons.back:hover {
            color: #009688;
            transition: color 0.3s;
        }

    #menu-fixed:target {
        width: 300px;
        background: #000;
        transition: all 0.3s ease-out;
    }

        #menu-fixed:target > .notes {
            transition: all 0.2s;
            z-index: 0;
            opacity: 0;
        }

        #menu-fixed:target > a .material-icons.back {
            display: block;
        }

        #menu-fixed:target > a > .logo {
            width: 60%;
            height: 70px;
            margin: auto;
        }

            #menu-fixed:target > a > .logo > span {
                display: none;
            }

            #menu-fixed:target > a > .logo > p {
                display: block;
            }

        #menu-fixed:target > .menu li {
            text-align: left;
            width: 60%;
        }

            #menu-fixed:target > .menu li:hover::after {
                content: '';
                display: block;
                position: absolute;
                background: rgba(38, 166, 154, 0.1);
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                border-radius: 4px;
            }

            #menu-fixed:target > .menu li:hover > p {
                color: white;
            }

            #menu-fixed:target > .menu li > p {
                display: inline-block;
            }

    #menu-fixed .logo {
        width: 100%;
        height: 70px;
        position: relative;
        cursor: pointer;
    }

        #menu-fixed .logo p {
            display: none;
            color: #999;
            font-size: 23px;
            padding-bottom: 0;
            font-weight: 300;
        }

        #menu-fixed .logo span {
            width: 10px;
            height: 10px;
            background: #0A0A0A;
            position: absolute;
            margin: auto;
            left: 0;
            right: 0;
            top: 25px;
            transform: rotateZ(45deg);
            -webkit-transform: rotateZ(45deg);
            border: 8px solid white;
            transition: all 0.2s;
        }

        #menu-fixed .logo:hover ~ p {
            color: white;
            transition: all 0.3s;
        }

        #menu-fixed .logo:hover > span {
            width: 0;
            height: 0;
            border-left: 15px solid white;
            border-right: 15px solid rgba(0, 0, 0, 0);
            border-top: 15px solid rgba(0, 0, 0, 0);
            border-bottom: 15px solid rgba(0, 0, 0, 0);
            transition: all 0.2s;
            transform: rotateZ(0deg) translateX(10px);
            -webkit-transform: rotateZ(0deg) translateX(10px);
        }

            #menu-fixed .logo:hover > span::after {
                content: '';
                display: block;
                width: 0;
                height: 0;
                border-left: 8px solid #111;
                border-right: 8px solid rgba(0, 0, 0, 0);
                border-top: 8px solid rgba(0, 0, 0, 0);
                border-bottom: 8px solid rgba(0, 0, 0, 0);
                left: -15px;
                position: absolute;
                top: -8px;
            }

    #menu-fixed .pmenu {
        margin: 0;
        text-align: center;
        color: rgba(255, 255, 255, 0.4);
        font-size: 14px;
        font-weight: 300;
    }

    #menu-fixed hr {
        width: 75%;
        border: 1px solid rgba(255, 255, 255, 0.2);
    }

    #menu-fixed .menu {
        list-style: none;
        margin: 0;
        padding: 0;
        width: 100%;
    }

        #menu-fixed .menu li {
            padding: 10px 0px 10px 0px;
            width: 40%;
            margin: auto;
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);
            border-bottom-style: dotted;
            cursor: pointer;
            overflow: hidden;
            position: relative;
            transition: all 0.3s;
        }

            #menu-fixed .menu li:last-child {
                border: none;
            }

            #menu-fixed .menu li:hover {
                background: #000;
                transition: all 0.3s;
            }

                #menu-fixed .menu li:hover > .material-icons {
                    color: white;
                }

            #menu-fixed .menu li .material-icons {
                color: #999;
            }

            #menu-fixed .menu li p {
                display: none;
                margin: auto;
                color: #888;
                font-size: 14px;
                font-weight: 300;
                position: absolute;
                padding-left: 10px;
                line-height: 30px;
            }

.material-icons.info {
    color: #999;
    position: absolute;
    margin: 0;
    bottom: 20px;
    left: 0;
    right: 0;
}

a:link, a:visited {
    text-decoration: none;
}

.notes {
    position: fixed;
    width: 100px;
    height: 70px;
    top: 20px;
    left: 130px;
    z-index: 5;
    background: #009688;
    border-radius: 10px;
    transition: all 0.6s;
}

    .notes::after {
        content: '';
        display: block;
        position: fixed;
        width: 0px;
        height: 0px;
        top: 50px;
        left: 115px;
        border-top: 8px solid rgba(0, 0, 0, 0);
        border-bottom: 8px solid rgba(0, 0, 0, 0);
        border-left: 8px solid rgba(0, 0, 0, 0);
        border-right: 8px solid #009688;
    }

    .notes p {
        color: #222;
        padding: 12px;
        margin: 0;
    }

/*Graph management*/

#surface {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 600px;
    position: relative;
}

#graphView {
    width: 100%;
    height: 100%;
    display: block;
    border: 1px solid black;
    position: absolute;
    top: 0;
    left: 0;
}

#graphDetailNode {
    float: right;
    width: 33%;
    padding: 0px 5px 0px 5px;
    border: 1px solid black;
    position: absolute;
    top: 0;
    right: 10px;
}

.textBlock {
    margin-bottom: 10px;
}

#status {
    float: right;
    width: 30%;
    height: 100%;
    margin-left: 20px;
}