{"AADInstance":"https://login.microsoftonline.com/","ClientId":"f7400bff-2504-4e5f-8587-eda134e5a70d","Resource":"0b07f429-9f4b-4714-9392-cc5e8e80c8b0","Tenant":"72f988bf-86f1-41af-91ab-2d7cd011db47","BaseUrl":"https://ArfontaiDigitalTwinsDemo.northeurope.azuresmartspaces.net/management/api/v1.0/","CacheTime":30,"SimulatorTimer":5,"DeviceConnectionString":"HostName=ih-1106a9d3-a27a-4825-a9fd-20819c118f5a-1.azure-devices.net;DeviceId=80a1995d-dfc3-4b0c-ab8c-eff16d16c855;SharedAccessKey=28tmiedYv9z+3E2sYvAKDn2QB3T97oPK0SdjQvyOimY="}