[{"DataType":1,"HardwareId":"SAMPLE_SENSOR_TEMPERATURE","MinValue":1,"MaxValue":30,"InitialValue":"10","SensorValue":null},{"DataType":0,"HardwareId":"SAMPLE_SENSOR_MOTION","MinValue":0,"MaxValue":0,"InitialValue":"True","SensorValue":null},{"DataType":2,"HardwareId":"SAMPLE_SENSOR_CARBONDIOXIDE","MinValue":0,"MaxValue":0,"InitialValue":"0","SensorValue":null}]